.checkout-container {
	width: 95%;
	display: grid;
	grid-auto-columns: 2fr 1fr;
	margin: 50px auto 150px auto;

	.checkout-cart-container {
		grid-column: 1;
		min-height: 60vh;
		min-width: 65%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px 40px;
		border: 1px solid black;
		h2 {
			margin: auto;
		}
		.back {
			margin: 0 auto;
		}
		.checkout-items {
			width: 100%;
		}
		.checkout-main-header {
			margin: 0 auto;
		}
		.checkout-header {
			border-bottom: 1px solid darkgrey;
			width: 100%;
			padding: 10px 0;
			display: flex;
			justify-content: space-between;

			.header-col {
				text-transform: capitalize;
				width: 23%;

				&:last-child {
					width: 8%;
				}
			}
		}
	}
	.total-container {
		grid-column: 2;
		margin: 0 0 0 20px;
		min-width: 30%;
		height: fit-content;
		padding: 30px;
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		align-items: center;
		.total {
			margin: 30px auto 0 auto;
			font-size: 24px;
		}
		.total-table {
			width: 100%;
			margin: 30px 0;
			display: flex;
			flex-direction: column;
			.total-table-row {
				padding: 15px;
				margin: 10px 0;
				display: flex;
				justify-content: space-between;
			}
			.final-total {
				font-weight: 700;
				border-top: 1px solid grey;
			}
		}
	}
}
