.body-wrapper {
	min-height: 91vh;
}

.overflow-hide {
	overflow: hidden;
}

.navigation {
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	padding: 20px 40px 0 40px;
}
.logo-container {
	.logo {
		height: 100%;
		width: 70px;
	}
}

.nav-links-container {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.nav-link {
		padding: 10px 15px;
		cursor: pointer;
		&:hover {
			color: grey;
		}
	}
}
