.confirmation-container {
	height: 200px;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 60px 0;
	h1 {
		color: rgb(89, 150, 64);
	}
}
