.page-footer {
	height: 260px;
	width: 100%;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-container {
	width: 100%;
	display: grid;
	text-align: center;
	padding: 20px 40px 50px 40px;
	color: grey;
	font-size: 12px;
	font-weight: 100;
	flex-grow: 1;
	background-color: lightgray;
	grid-template-columns: repeat(4, 1fr);
	.sign-in-links {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		.footer-link {
			margin: auto;
			&:hover {
				font-weight: 500;
			}
		}
	}
	.footer-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.footer-link {
			margin: auto;
			&:hover {
				font-weight: 500;
			}
		}
	}
}
.bottom-line-container {
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 100;
	padding: 0 40px;
	background-color: rgb(187, 188, 190);
}
