.modal-bground {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.modal-wrapper {
	width: fit-content;
	padding: 50px;
	height: fit-content;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
	background: white;
	color: black;
	z-index: 10;
}
